%% -*- Erlang -*-
{deps, [{mochij, ".*",
         {git, "https://github.com/SiftLogic/mochij.git",
          {tag, "0.0.3"}}},
        {gen_fsm_compat, ".*",
         {git, "https://github.com/SiftLogic/gen_fsm_compat.git",
          {branch, "master"}}}
       ]}.
{eunit_compile_opts, [{src_dirs, ["test_src"]}]}.
{dialyzer_opts, [{warnings, [unmatched_returns,
                             error_handling,
                             race_conditions,
                             underspecs]}, src, deps]}.
